# API Configuration
REACT_APP_API_BASE_URL=http://localhost:3001

# Map Configuration
REACT_APP_DEFAULT_LAT=40.41678
REACT_APP_DEFAULT_LNG=-3.70379
REACT_APP_DEFAULT_ZOOM=11

# MapTiler / FreeMaps
REACT_APP_MAPTILER_KEY=your_maptiler_key_here

# Azure Maps
REACT_APP_AZURE_MAPS_KEY=your_azure_key_here
